.TrangPhuongXa {
   display: flex;
   justify-content: center;
   --padding-var: 1rem;

   .container-main {
      width: 100%;
      max-width: 1200px;
      padding: var(--padding-var);

      .ward-name {
         text-align: center;
      }
      .vr-view {
         display: flex;
         justify-content: center;
         gap: 5px;
         padding: 1rem 0.5rem;
         .vr-container {
            width: 100%;
            iframe {
               width: 100%;
               aspect-ratio: 16/9;
            }
         }
      }

      .ward-image {
         display: flex;
         justify-content: center;
         gap: 1rem;
         margin: 1rem 0;

         @media (width < 520px) {
            flex-direction: column;
            align-items: center;
         }
         img {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            width: 50%;
            max-width: 400px;

            @media (width < 520px) {
               width: 100%;
            }
         }
      }

      .ward-info {
         .w-container {
            margin-bottom: var(--padding-var);
         }

         ul {
            margin: 0 auto;
            list-style: square;
         }

         p {
            text-align: justify;
            // text-indent: 2.5rem;
         }
      }
   }
}
