.tilt-container {
   width: 100%;
   perspective: 1000px;
   overflow: hidden;
   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
   transition: transform 0.2s ease;
   // padding: 1rem;
   border-radius: 0.5rem;
   overflow: visible;
}

.tilt-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 0.5rem;
   transition: transform 0.15s ease;
   will-change: transform;
}
