@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.logo {
   font-weight: 700;
   font-family: "Dancing Script", cursive;
   // color: var(--white);
   color: #215c5c;
   font-size: 1.75rem;
   * {
      text-shadow: 1px 1px 0 #999, 2px 2px 0 #f3f3f3, 3px 3px 0 #d6d4d4;
   }
}
