@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.Navbar {
   box-shadow: 0 0px 2px rgba(73, 75, 91, 0.15);
   // position: absolute;
   // top: 0;
   -webkit-transition: 0.3s all ease-in-out;
   transition: 0.3s all ease-in-out;
   z-index: 99999;
   width: 100%;
   background-color: white !important;
   border: none;
   padding: 8px;
   font-family: "Inter", sans-serif;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

   .navbar-container {
      padding: 0 8px;
      max-width: var(--max-width);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      flex-grow: 1;
      .redirect-container {
         position: static;
         z-index: auto;
         flex-grow: 1;
         border: 0;
         .nav-list {
            display: flex;
            flex-grow: 0;
            padding-left: 3rem;
            overflow-y: visible;
            list-style: none;
            flex-direction: row;
            margin: 0 auto;

            .nav-item {
               .nav-link {
                  padding: 22px 10px;
                  position: relative;
                  color: rgb(73, 75, 91);
                  text-decoration: none;
                  background: 0 0;
                  border: 0;
                  &.nav-active::before {
                     content: "";
                     position: absolute;
                     width: calc(100% - 20px);
                     height: 4px;
                     bottom: 0px;
                     left: 10px;
                     background: rgb(7, 73, 160);
                  }

                  &:not(.nav-active)::before {
                     content: "";
                     position: absolute;
                     width: calc(100% - 20px);
                     -webkit-transform: scaleX(0);
                     transform: scaleX(0);
                     border-radius: 5px;
                     height: 4px;
                     bottom: 0px;
                     left: 10px;
                     background: rgb(35, 118, 226);
                     transition: transform 0.35s ease-out;
                     -webkit-transform-origin: bottom right;
                     transform-origin: bottom right;
                  }

                  &:hover::before {
                     transform: scaleX(1);
                     -webkit-transform-origin: bottom left;
                     transform-origin: bottom left;
                  }
               }
            }
         }
      }

      @media (width < 992px) {
         .redirect-container {
            display: none;
         }
      }
   }

   .do-container {
      display: flex;
      gap: 5px;

      .menu-btn {
         display: none;
         @media (width < 992px) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #000;
            color: #fff;
            cursor: pointer;
         }
      }
   }
   .modal {
      display: none;

      @media (width < 992px) {
         display: block;
         visibility: hidden;
         position: fixed;
         top: 0;
         left: 0;
         background-color: #00000077;
         width: 100%;
         height: 100%;

         .nav-container {
            width: 100%;
            max-width: 400px;
            background-color: #fff;
            height: 100%;
            transform: translateX(-100%);
            transition: 0.35s ease-in-out;

            .nav-header {
               padding: 1rem;
               .close-btn {
                  position: absolute;
                  top: 1rem;
                  right: 1rem;
                  cursor: pointer;
               }
            }

            .nav-list {
               padding: 1rem;
               display: flex;
               flex-direction: column;
               gap: 8px;
               .nav-link {
                  padding: 10px;
                  transition: 0.2s ease-in-out;
                  cursor: pointer;
                  color: rgb(73, 75, 91);
                  border-radius: 4px;

                  &:hover {
                     color: white;
                     background-color: #479696;
                  }
               }
            }
         }

         &.show {
            visibility: visible;

            .nav-container {
               transform: translateX(0%);
            }
         }
      }
   }
}
