.HomePage {
   --padding-var: 1rem;
   @media (width < 768px) {
      --padding-var: 0.5rem;
   }
   height: 100%;
   width: 100%;
   padding: var(--padding-var);
   display: flex;
   justify-content: center;
   line-height: 1.5rem;

   .home-container {
      width: 100%;
      max-width: 1200px;
      font-size: 1rem;
      // font-family: "Times New Roman", sans-serif;

      .tieu-de {
         text-align: center;
         color: #4c4aa4;
      }

      .image {
         padding: var(--padding-var);
         width: 100%;
         margin: auto;
         text-align: center;
         img {
            width: 100%;
         }
      }
      .img1 {
         max-width: 600px;
      }

      p,
      i {
         text-align: justify;
         margin: var(--padding-var) 0;
      }

      @media (width < 768px) {
         ol,
         ul {
            padding: 1rem;
         }
      }

      li {
         text-align: justify;
      }

      ul.custom-list {
         list-style: none;
         padding: 0;
      }
      ul.custom-list li::before {
         content: "-";
         margin-right: 1rem;
         color: black;
      }
   }
}
