.btn-container {
   position: fixed;
   bottom: 30px;
   right: 50px;
   z-index: 1000;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   border-radius: 50%;

   @media (width<768px) {
      bottom: 30px;
      right: 30px;
   }
   @media (width<500px) {
      bottom: 20px;
      right: 20px;
   }
}
